body {
  margin: 0;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  border: #eee;
  border-radius: 8px;
  margin-top: 30px;
}
img:hover{
  cursor: pointer;
}
.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  width: 100%; 
  max-width: 500px;
  margin: auto;
}

header {
  width: 100%;
  padding: 0 0.25em;
  background-color: papayawhip;
  color: darkgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  align-items: center;
  overflow-y: auto;
}

ul {
  width: 100%;
  list-style: none;
  padding: 0 0.25rem 0.25rem;
}

ul li::before {
  content: "\200B";
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0.25rem 0;
  background-color: #eee;
}

.item svg:focus,
.item svg:hover {
  color: red;
  outline: none;
}

.item:first-child {
  margin: 0;
}

.item input[type="checkbox"] {
  text-align: center;
  width: 2.5rem;
  width: 48px;
  min-width: 48px;
  height: 2.5rem;
  height: 48px;
  min-height: 48px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.item input[type="checkbox"]:focus + label {
  text-decoration: underline;
}

.item > label {
  font-size: 0.75rem;
  flex-grow: 1;
}

.item svg {
  width: 48px;
  min-width: 48px;
  height: 36px;
  font-size: 1rem;
  color: steelblue;
  cursor: pointer;
}

.item svg:focus, 
.item svg:hover {
  color: red;
  outline: none;
}

.close{
  color:#888;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover, .close-focus{
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  cursor: pointer;
  text-decoration: none;
}
.btn-primary{
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}
.btn-primary:hover{
  color: #fff;
  background-color: #006b9d;
  border-color: #0062cc;
}
button {
    width: 100%;
    height: 35px;
    margin: 0.1rem;
    border: 0.1rem #404040 solid;
    background-color: gray;
    color: white;
    border-radius: 8px;
    padding: 0.2rem;
    font-size: 0.8rem;
    cursor: pointer;
}
button.add {
  background-color: #40c0f0;
  width: 1.5rem;
}
button.remove{
  background-color: #f04040;
  width: 1.5rem;
}
button.badge {
  background-color: #404040;
  border: none;
  color: #fff;
  width: 1.5rem;
}
button:focus, 
button:hover {
  color: white;
  background-color: limegreen;
  outline: none;
}

.searchForm {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin: 0.25rem 0 0;
  padding: 0 0.5rem 0.25rem;
  border-bottom: 1px solid #eee;
}

.searchForm label {
  position: absolute;
  left: -99999px;
}

.searchForm input[type='text'] {
  flex-grow: 1;
  max-width: 100%;
  min-height: 48px;
  font-size: 1rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
  outline: none;
}
.flex-container {
  display: flex;
  width: 100%;
}
.flex-child {
  flex: 1;
  border: 2px solid white;
  background-color: beige;
}  
.flex-child:first-child {
  background-color: beige;
}
img.small{
  max-height: 8rem;
}
.row{
  display: flex;
  justify-content: space-between;
}
.col-1{
  flex: 1;
}
.col-2{
  flex: 2;
}
.block{
  background-color: #e0e0e0;
  padding: 1rem;
  margin: 00.5rem;
  border-radius: 0.5rem;
  width:100%;
}
.row.center{
  align-items: center;
}
.text-right {
  text-align: right;
}

.tipBtn{
  color: #fff;
  width:10%;
  background-color: #007bff;
  border-color: #fff;
}